<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>需要使用相机扫描签到二维码</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>CFBundleDisplayName</key>
    <string>CQUPT签到</string>
</dict>
</plist>
